*{
    margin:0;
    padding:0;
    list-style:none;
     
    }
    
    .sidebar{
    position:fixed;
    width:27rem;
    height:100%;
    background-color:#bf4040;}
    
    .sidebar-at{
    display:block;
    font-size:1.8rem;
    color:white;
    text-align:center;
    line-height:5rem;
    font-weight:600;
    transition:.4s;
     font-family: 'Source Sans Pro', sans-serif;}
    
    .sidebar-at:hover {padding-left:3rem;
    color:#b3003b;
     text-decoration:none;}
     
     .fa:hover{color:#b3003b;
     text-decoration:none;}
    
    img {
      border-radius: 50%;
      text-align:center;
      margin-top:6.5rem;
      margin-bottom:2rem;
      margin-left:5rem;}
      
    body{
    border-top:.3rem solid #660000;}
    
    .margin{
    padding:9rem 5rem 9rem 35rem;
    font-family:'Source Sans Pro', sans-serif;}
    
    .margin2{
    padding:13rem 5rem 13rem 35rem;
    font-family:'Source Sans Pro', sans-serif;}
    
    .name{font-family:'Source Sans Pro', sans-serif;
    font-size:8rem;
    font-weight:bold;
    color:#4d4d4d;}
    
    .sname{
    font-size:2.2rem;
    font-weight:600;
    font-family:'Source Sans Pro', sans-serif;;
    color:#7e676f;}
    
    .fa {
      padding: 2rem;
      font-size: 2.5rem;
      width: 6.5rem;
      text-align: center;
      text-decoration:none;
      margin: .5rem .2rem;
      border-radius: 50%;
      text-decoration:none;}
      
    .fa-facebook {
      background: #3B5998;
      color: white;}
      
    .fa-twitter {
      background: #55ACEE;
      color: white;}
      
    .fa-google {
      background: #dd4b39;
      color: white;}
    
    .fa-linkedin {
      background: #007bb5;
      color: white;}
    
    .content{font-size: 1.8rem;
    font-weight:600;
    font-family:'Source Sans Pro', sans-serif;
    color:#7e676f;}
    
    .header-content{font-size:2rem;
    font-weight:600;
    font-family:'Source Sans Pro', sans-serif;margin: top 5rem;color:#7e676f;}
    
    .heading-1{font: size 5.5rem;
    font-weight:600;margin: bottom 5rem;color:#343a40;}
    
    .heading-2{font: size 3rem;
    font-weight:600;
    }
    
    .achieve-content{font: size 2rem;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;color:#7e676f;}
    
    .skills-content{font: size 2rem;
    font-weight:600;}

    html{

      font-size: 62.5%;
    }

    @media (max-width: 480px) {
      html{font-size:45%;
      }
      
    }